---
layout: archive
---

{{ content }}

<h3 class="notice">
  **참고사항** 블로그에 작성된 글들을 지속적으로 업데이트됩니다. 
</h3>


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

 
  <div class="grid__wrapper">
    {% for post in  posts %}
      {% include archive-single.html type="grid" %}
    {% endfor %}
  </div> 



{% include paginator.html %}


